
ticketsystem/db.sqlite3
*.pyc
.vscode/settings.json
ticketsystem/debug-email-messages/*
*.odt#
ticketsystem/.idea/workspace.xml
ticketsystem/.idea/vcs.xml
ticketsystem/.idea/mysite.iml
ticketsystem/.idea/modules.xml
ticketsystem/.idea/misc.xml
ticketsystem/.idea/encodings.xml
ticketsystem/.idea/codeStyles/codeStyleConfig.xml
ticketsystem/account/migrations
ticketsystem/ldpa/migrations
ticketsystem/notification/migrations
ticketsystem/recurrence/migrations
ticketsystem/ticket/migrations
ticketsystem/user_group/migrations
